/* Common Styles */
.text-primary {
  color: #fd6e0a;
}
.text-dark-2 {
  color: #474747;
}
.bg-color {
  background-color: #fff8f3;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-size: 19px;
  font-weight: 700;
  padding: 18px 36px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.btn-secondary {
  background-color: transparent;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  cursor: pointer;
}
.section-title {
  font-size: 33px;
  font-weight: bold;
  color: #181818;
  text-align: center;
}
.section-description {
  font-size: 17px;
  color: #757575;
  text-align: center;
}
